<template>
  <div class="about">
    <h1>Registracija</h1>
    <form action="/action_page.php">
      <label for="fname">Username</label>
      <br />
      <input v-model="registerEmail" type="email" id="email" name="email" value />
      <br />
      <label for="lname">Password</label>
      <br />
      <input v-model="registerPassword" type="text" id="password" name="password" value />
      <br />
      <br />
      <input @click.prevent="registerIn" type="submit" value="Submit" />
    </form>

    <!-- <p>{{store.state.currentUserRegister}}</p> -->
    <br />
    <br />
    <br />
    <br />
    <hr />
    <div v-if="currentUser !== null" class="login">
      <p>Ulogiran si kao {{currentUser}}</p>
      <br />
      <button @click.prevent="logOut">Odlogiraj se</button>
    </div>
    <div v-else>
      <h1>Login</h1>
      <form action="/action_page.php">
        <label for="fname">Username</label>
        <br />
        <input v-model="email" type="email" id="email" name="email" value />
        <br />
        <label for="lname">Password</label>
        <br />
        <input v-model="password" type="text" id="password" name="password" value />
        <br />
        <br />

        <br />
        <br />
        <input @click.prevent="signIn" type="submit" value="Submit" />
        <br />
        <br />
      </form>
    </div>

    <div ref="loginInfo"></div>

    <hr />
    <h1>Google</h1>
    <p>Display name {{this.user}}</p>
    <button @click="signInGoogle">Google sign in</button>

    <!-- {{this.$store.state.currentUser}} -->
  </div>
</template>


<script>
 import firebase from 'firebase/app'
import { firebaseAuth } from "../firebase";
import { store } from "../store/store";
export default {
  name: "Ab",
  components: {},
  data() {
    return {
      registerEmail: "",
      registerPassword: "",
      email: "",
      password: "",
      testInfo: "",
      user: ""
    };
  },
  methods: {
    signInGoogle() {
      var provider = new firebase.auth.GoogleAuthProvider();
      provider.addScope('https://www.googleapis.com/auth/contacts.readonly');
      provider.setCustomParameters({
        'login_hint': 'vule840@gmail.com'
      });
      firebaseAuth
        .signInWithPopup(provider)
        .then((result) => {
          // This gives you a Google Access Token. You can use it to access the Google API.
          console.log(result)
          var token = result.credential.accessToken;
          console.log(token)
          // The signed-in user info.
          var user = result.user;
          console.log(user)
          this.user = user.photoURL
          // ...
        })
        .catch((error) =>{
          // Handle Errors here.
          console.log(error)
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
        });
    },
    registerIn() {
      const userRegister = {
        registerEmail: this.registerEmail,
        registerPassword: this.registerPassword
      };
      store.dispatch("registerIn", userRegister);
      // this.$store.dispatch("registerIn", userRegister);
    },
    signIn() {
      const user = {
        email: this.email,
        password: this.password
      };
      // console.log(user);
      // this.$store.dispatch("signIn", user);
      store.dispatch("signIn", user);
    },
    logOut() {
      //   console.log("logout");
      //  this.$store.dispatch("logOut", null);
      store.dispatch("logOut", null);
    }
  },
  computed: {
    currentUser() {
      return store.getters.currentUser;
    }
  }
};
</script>

<style>
</style>