<template>
  <div class="home">
    <h2>Home</h2>
    {{getCats}}
    <h2>Dodaj macu</h2>

    <label for="fname">First name:</label>
    <br />
    <input v-model="imeMace" type="text" id="fname" name="fname" value="Ime" />
    <br />
    <label for="lname">Last name:</label>
    <br />
    <input v-model="nadimakMace" type="text" id="lname" name="lname" value="Nadimak" />
    <br />
    <label for="lname">Prijatelji:</label>
    <br />
    <!-- <input v-model="friend" type="text" id="lname" name="lname" value="Nadimak" />
    <button @click="addFriend()">Dodaj prijatelja</button>
    <br /> -->
    <label for="lname">Slika mace:</label>
    <br />
    <input id="files" @change="uploadFile" type="file" name="file" value />
    <br />
    <br />
    <button @click.prevent="addCat">Pošalji macu</button>

    <h2>Ime maca</h2>

    <div v-if="loading">{{mace}}</div>
    <div v-else>Loading...</div>

    <img id="image" :src="this.slika" alt />
    <table v-if="loading">
      <tr>
        <th>Ime mace</th>
        <th>Nadimak mace</th>
        <th>Datum</th>
        <th>Prijatelji mace</th>
        <th>Slika</th>
        <th>Izbriši macu</th>
      </tr>

      <tr v-for="maca in getCats" :key="maca.id">
        <td>{{maca.ime}}</td>
        <td>{{maca.nadimak}}</td>
        <td>{{maca.date}}</td>
        <td>{{maca.prijateljiMace}}</td>
        <td>
          <img :src="maca.slika" alt />
        </td>
        <td @click.prevent="deleteCat(maca)"> {{maca.id}}<Button>Izbriši macu</Button></td>
      </tr>
    </table>
    <div v-else>Loading...</div>
  </div>
</template>

<script>
// @ is an alias to /src

// import { dbTest } from "../firebase";
import { dbCats } from "../firebase";
// import { db } from "../firebase";
import { dbStorage } from "../firebase";
import {store} from "../store/store"

export default {
  name: "Home",
  components: {
    
  },
  data() {
    return {
      dataTest: {},
      imeMace: "",
      nadimakMace: "",
      prijateljiMace: [],
      mace: [],
      slika: "",
      loading: false
    };
  },

  methods: {
    // addFriend(){
    //   prijateljiMace.push(friend)
    // },
    deleteCat(maca) {
      store.dispatch('deleteCat', maca.id)
      // this.$store.dispatch('deleteCat', maca.id)
      console.log(maca.id);
    },
    addCat() {
      try {
        const cat = {
          ime: this.imeMace,
          nadimak: this.nadimakMace,
          born: 1815,
          date: new Date(),
          prijateljiMace: [],
          slika: this.slika
        };
        dbCats.add(cat);
        //commit('userStatusRegister', userRegisterData.userRegister)
        console.log(cat);
      } catch (error) {
        console.error("Error adding document: ", error);
      }
    },
    uploadFile(event) {
      console.log("upload");
      var file = document.getElementById("files").files[0];
      console.log(file);

      var storageRef = dbStorage.ref();
      //dynamically set reference to the file name
      var thisRef = storageRef.child(file.name);
      //put request upload file to firebase storage

      thisRef
        .put(event.target.files[0])
        .then(snapshot => {
          console.log(snapshot);
          console.log("Uploaded a blob or file!");
        })
        .then(
          thisRef.getDownloadURL().then(url => {
            console.log(this);
            console.log(url);

            this.slika = url;
            // debugger;

            console.log(this.cat);
            window.document.querySelector("#image").src = url;
          })
        );
      //get request to get URL for uploaded file
    }
  },
  created() {
    this.loading = true
    store.dispatch("setCatRef", dbCats)
    // this.$store.dispatch("setCatRef", dbCats)
    
    // Create a reference to the cities collection
    // var citiesRef = db.collection("cities");

    // Create a query against the collection.
    var query = dbCats.where("nadimak", "==", "Maciaca")
    .get()
    .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
            // doc.data() is never undefined for query doc snapshots
            console.log(doc.id, " => ", doc.data());
        });
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });

    // console.log(query)
    // // console.log(this.$store.dispatch("setCatRef", dbCats));
    //  console.log(getCats);
    //STARI NAČIN DOHVAĆANJA MAĆIĆA, onda instalirao vuexfire
    // dbCats.get().then(value => {
    //   console.log(value.docs);
    //   value.forEach(doc => {
    //     // console.log(`${doc.ime} => ${JSON.stringify(doc.data().ime)}`);
    //     console.log(doc.data());
    //     this.loading = true;
    //     const data = {
    //       ime: doc.data().ime,
    //       nadimak: doc.data().nadimak,
    //       born: doc.data().born,
    //       date: doc.data().date.toDate(),
    //       prijateljiMace: [],
    //       slika: doc.data().slika
    //     };

    //     this.mace.push(data);
    //     this.loading = false;
    //   });
    // });

    // let prms = db
    //   .collection("test")
    //   .get()
    //   .then(value => {
    //     value.forEach(doc => {
    //       console.log(value);
    //       this.dataTest = JSON.stringify(doc.data().born);
    //       console.log(`${doc.id} =>  ${doc.data()}`);
    //       console.log(JSON.stringify(doc.data()));
    //     });
    //   });

    // Create a reference under which you want to list
    // var listRef = dbStorage.ref().child("files/uid");

    // Find all the prefixes and items.

    // listRef
    //   .listAll()
    //   .then(function(res) {
    //     res.prefixes.forEach(function(itemRef) {

    //       console.log("itemRef" + itemRef);
    //       // All the prefixes under listRef.
    //       // You may call listAll() recursively on them.
    //     });
    //     res.items.forEach(function(itemRef) {
    //       // All the items under listRef.
    //       console.log("itemRef" + itemRef);

    //     });
    //   })
    //   .catch(function(error) {
    //     // Uh-oh, an error occurred!
    //     console.log("error" + error);
    //   });
  },
  computed: {
    getCats() {   
       return store.getters.getCats
      // return this.$store.getters.getCats
    }
  }
};
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table img {
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>